.App {
  text-align: center;
  /* For Footer */
  min-height: calc(100vh - 60px); 
}

.center {
  display: flex;
  justify-content: center;
}

.logo {
  height: 150px;
  width: 150px;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.justify-end {
  justify-content: flex-end;
}