#leaderboard {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%
}

.rank {
  width: 15%;
}

#leaderboard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #8A2BE2;
  color: white;
  padding: 30px;
  font-size: 20px;
}

#leaderboard td, th {
  border: 1px solid #ddd;
  padding: 24px;
  font-size: 18px;
}

#leaderboard tr:nth-child(even) {
  background-color: #6495ED;
}

/* #leaderboard tr:hover {
  filter: brightness(85%);
} */

#currentuser {
  background-color:#C0C0C0;
}